@import "elements.less";
@import "font-awesome.min.css";
@import 'bootstrap/css/bootstrap.min.css';

@import 'jquery-ui.css';

@import "http://webfonts.ru/import/roboto.css";

@red: #f43e30;
@darkblue: #292e64;
@blue: #1f7ce4;

@lightblue: #d1eaff;

@grey: #f3f3f3;
@darkgrey: #9c9c9c;

.static{position: static}

html{height: 100%;}

body{background: @grey; height: 100%; font-weight: 300;}

h1, .title{font-weight: 300; font-size: 31px; margin: 40px 0;}


.container{width: 1170px;}

.site{ min-width: 1170px; position: relative; height: 100%;}

a{color: @blue;}

p{margin: 5px 0;}

img{

    max-width: 100%;

}

a:hover{text-decoration: none;}

label{font-weight: 300;}

.ng-submitted .ng-invalid,
.ng-invalid.ng-touched {
    
    border: 1px solid tomato;
    
    & + .addon{
        
        border-color: tomato;
        color: tomato;
        
    }
    
    .addon + & {
        
        border-color: @lightblue;
        
    }
    
}


input:not([type='submit']), textarea{
    
    width: 100%; 
    max-width: 400px; 
    border: 1px solid @lightblue;
    padding: 7px 13px; outline: 0;
    font-size: 16px;
    font-weight: 300;
    
    -webkit-appearance: none;
    
    &:focus{
        
       // border-color: @blue;
    }

}

@media screen and (min-width: 800px) {


    .noscroll{

        overflow: hidden;


    }
    
    
}




.bg{
    
    background: rgba(0,0,0, 0.3); 
    width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 8

}

.delete{
    color: tomato; 
    cursor: pointer
}


.error{

    color: tomato;
    font-size: 13px; 
    //font-weight: 600; 
    clear: both; 
    position: relative; 
    top: -20px;

    .fa{

        margin: 0 5px 0 0;

    }

}

.error-grey{
    
    font-size: 20px; 
    color: #333; 
    font-weight: 300; 
    background: #e9e9e9; 
    padding: 20px; 
    margin: 20px -15px;
    
    .rounded(5px);
    
}

.error-404{
    
    font-size: 18px;
    width: 1000px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -500px;
    line-height: 2;
    
    
}

.button{
    
    margin: 15px 0 0 0; 
    background: @blue; 
    border: 0; 
    color: white; 
    padding: 0.5em 1em 0.6em 1em; 
    clear: both; 
    display: block;
    font-weight: 300;
    cursor: pointer;
    text-align: center;
    
    display: inline-block;
    
    .rounded(5px);
    
    .transition(0.3s);
    
    &:hover{
        
        color: white;
        
        background: #1c6cc6
    }

}


.red{background: tomato;}

.grey{
    
    background: #ddd; color: black;

    &:hover{
        
        color: black;
        
        background: #ccc;
        
    }

}

.button.done{
    
    border: 1px solid #ddd; 
    color: black;
    background: none;
    
    line-height: 22px;
    
}

.button.done.active{
    
    border-color: #31b931;
    color: #31b931;
    
}


.select{
    
    border: 1px solid @lightblue;
    
    .rounded(5px);
    
    line-height: 38px;
    padding: 0 10px;
    
    cursor: pointer;
    
    
    &:after{
        
        content: '\f107';
        font-family: FontAwesome;
        position: absolute;
        
        right: 25px;
        
        color: @blue;
        
    }
    
}

.loader{
    
    position: absolute; 
    width: 40px; 
    height: 40px; 
    top: 50%; 
    left: 50%; 
    margin: -20px 0 0 50px; 
    display: none;
    z-index: 11;

    img{
        
        width: 100%;
    
    }

}

.popup{
    
    position: absolute;
    left: 50%;
    top: 50%;
    background: white;
    padding: 40px;
    z-index: 99;
    
    //margin-bottom: 50px
    
    h4{margin: 0 0 10px 0;}
    
    .box-shadow(0 20px 40px 20px rgba(0,0,0, 0.3));
    
}

.dropbox{
    
    position: absolute;
    background: white;
    padding: 0;
    
    z-index: 10;
    
    display: none;
    
    width: 200px;
    
    margin: 10px 0 0 0;
    
    .box-shadow(0 10px 20px 0px rgba(0,0,0, 0.2));
    
    li{
        
        display: block;
        
    }
    
    a{
        
        color: #333; 
        display: block; 
        line-height: 40px;
        
        font-weight: 300;
        
        padding: 0 20px;
        
        &:hover{
            
            background: #f8f8f8
                
        }
        
    }
    
}

.dropbut{
    
    line-height: 36px; 
    padding: 0 15px; 
    display: inline-block;
    color: white;
    background: @blue;//#ddd;
    font-weight: 300;
    
    cursor: pointer;
    
    .fa{
        
        margin: 0 0 0 5px
            
    }
    
    
    .rounded(5px);
    
}

.status{
    
    width: 100%;
    
    li{ 
        
        cursor: pointer;
        padding: 10px 15px;
        
        &:hover{
            
            background: #f8f8f8
                
        }
        
    }
    
}

header{
    
    background: white; 
    height: 60px;
    border-bottom: 1px solid #eee;
    
    .user{
            
        text-align: right; 
        padding: 20px 0;
        
        .log-in{
            
            padding: 6px 10px;
            
            border: 1px solid @blue;
            
            border-radius: 3px;
            
            &:hover{
                
                border-color: black;
                color: black;
                
            }
            
        }
        
        .user-menu{
            
            margin: 0 0 0 20px;
            display: inline-block;
            color: #444;
            cursor: pointer;
            position: relative;
            
        }
        
        .number{
            
            font-size: 10px;
            background: @blue;
            height: 18px;
            min-width: 18px;
            line-height: 18px;
            color: white;
            display: inline-block;
            text-align: center;
            position: absolute;
            top: -10px;
            padding: 0 3px;
            
            .rounded(9px);
            
        }
        
        .notifications{
            
            position: absolute;
            top: 49px;
            right: 100px;
            background: white;
            width: 350px;
            height: 270px;
            text-align: left;
            z-index: 999;
            padding: 10px;
            
            .box-shadow(0 10px 60px 0px rgba(0,0,0, 0.3));
            
            &:before{
                
                content: '\f0d8';
                font-family: FontAwesome;
                color: white;
                position: absolute;
                font-size: 30px;
                top: -26px;
                right: 67px;
                z-index: 100;
                
            }
            
            a{
                
                padding: 0;
                line-height: normal;
                
            }
            
            ul{
                
                background: white;
                overflow: auto;
                padding: 0;
                height: 250px;
            
            }
            
            li{
                
                display: block;
                padding: 10px;
                border-bottom: 1px dotted @lightblue;
                cursor: pointer;
                overflow: hidden;
                
                &:hover{
                    
                    background: @lightblue;
                    
                }
                
                .date{

                    font-size: 12px;
                    color: @blue;
                    margin: 0 0 5px 0;

                }
                
                img{ border-radius: 50%; border: 1px solid #eee;}
                
                .img{
                    
                    width: 50px;
                    float: left;
                    
                }
                
                .info{
                    
                    width: 250px;
                    float: left;
                    padding: 0 0 0 10px;
                }
                
            }
            
            .empty{
                
                line-height: 230px;
                text-align: center;
                font-weight: 500;
                
            }
            
        }
        
        .account{
            
            right: 15px;
            top: 40px;
            
            width: 130px;
            
            border: 1px solid #ccc;
            
            a{
            
                text-align: left;
                
            }
            
            a:hover{
                
                background: @lightblue;
                
            }
            
        }
        
        .reg{ 
            
            padding: 6px 10px;
            
            border: 1px solid @blue;
            
            border-radius: 3px;
            
            background: @blue;
            
            color: white;
        
        }
        
    }
    
    .logo{
        
        height: 40px;
        margin: 10px 0;
        
    }
         
}

nav.menu{
    
    padding: 30px 0px;
    margin: 0 0 0 -6px;
    
    a{
        display: block; 
        color: black;
        margin: 0 0 13px 0;
        padding: 5px 10px;
        font-size: 15px;
        font-weight: 300;
        
        &:hover{
            
            background: #e6e6e6;
        }
        
        span{ display: inline-block; }
        
        i{display: inline-block; width: 30px;}
    }
    
}
.regform{
    
    width: 700px; 
    margin: auto; 
    padding: 25px 50px;
    
    background: white;
    
    margin: 50px auto;
    
    
    //.box-shadow(0 20px 40px 0px rgba(0,0,0, 0.3));
    
    .forma{
        
        margin: 0;
    }

}

.auth{
    
    background: white;
    
    .box-shadow(0 20px 40px 0px rgba(0,0,0, 0.3));
    
    width: 340px;
    
    min-height: 340px;
    
    position: absolute;
    
    top: 50%;
    left: 50%;
    
    margin: -200px 0 0 -170px;
    
    padding: 30px;
    
    p{ margin: 30px 0 5px 0 }
    
    .err{
        
        color: red;
        
    }
}

.cPass{
    
    .auth;
    
    width: 500px;
    
    min-height: 120px;
    
    margin: -90px 0 0 -250px;
    
    .input{ width: 75%; margin: 0 10px 0 0; height: 35px;}
    
    .button{ margin: 0; position: relative; top: -1px}
    
    .error{position: static; margin: 10px 0;}
    
}

.workarea{ 
    
    margin-top: 30px; 
    margin-bottom: 30px; 

}

.wrap{
    
    background: white;  
    //border: 1px solid #eee;

}

.settings{
    
    padding: 35px 65px; 
    margin: 0 0 40px 0

}

.services, .clients{
    
    
    padding: 5px;
    
    //.tab{border-top: 1px dotted #d1eaff;}
    
    
    .one:last-of-type{ border-bottom: 0px}

    
    .one{
        
        border-bottom: 1px dotted @lightblue; 
        overflow: hidden;
        
        background: white;
        
        input{
            
            padding: 0; 
            border: 0; 
            height: auto; 
            font-size: 14px; 
            max-width: 100%; 
            font-weight: inherit;
            
            &:focus{ color: @blue }
        }
        
        div{
            
            float: left; 
            padding: 10px 17px;
        
        }
        
        .price{
            
            width: 15%; 
            text-align: right; 
            font-weight: 500; 
            border-left: 1px solid @lightblue;
            
            input{width: 70%; text-align: right}
        
        }
        
        .name{
            
            width: 78%; 
            font-weight: 300;
            
        }
        
        .delete{
            
            width: 5%; 
            border-left: 1px solid @lightblue; 
            color: tomato; cursor: pointer;
        
        }
    
    }


}

.search{
    
    padding: 20px;
    margin: 0 0 20px 0;
    
    input{
        max-width: 100%;
    }
    
    label{
        
        font-weight: 500;
        margin: 0 0 10px 0;
        
    }
    
}

.clients .one{
    
    .name{ width: 48% }
    
    .phone{
        
        width: 45%;
        border-left: 1px solid @lightblue;
        
        input{width: 100%;}
        
    }
    
    
}

.addnew{
    
    padding: 20px 20px 30px 20px;
    
    input:not([type=submit]){
        
        margin: 0 0 20px 0;
        height: 35px;
        padding: 5px 10px;
        
        font-size: 14px;
        
    }
    
    .error{top: -15px}
    
    label{font-weight: 300;}
    
}


.import{
    
    padding: 20px 20px 30px 20px;
    margin: 1px 0 0 0;
    
    .fa{
        
        margin: 0 5px 0 0;
        
    }
    
}

.group-input-left{
    
    
    margin: 0 0 20px 0;
    display: table;
    width: 100%;
    position: relative;
    
    input, div{ 

        margin: 0 !important;

        border: 1px solid @lightblue;
        
        .rounded(0px 5px 5px 0px);
        
        display: table-cell;
        padding: 8px 8px;
        cursor: pointer;

    }
    
    .addon{ 
    
        background: white; 
        border: 1px solid @lightblue; 
        color: @blue; 
        width: 50px;
        text-align: center;
        position: relative;
        left: 1px;
        display: table-cell;
        padding: 0 15px;
        cursor: default;
    
        .rounded(5px 0px 0px 5px);
    
    }
    
}

.group-input-right{
    
    .group-input-left;
    
    input, div{ 
        
        .rounded(5px 0 0 5px);     
    
    }
    
    .addon{ 
        
        .rounded(0px 5px 5px 0px);
        
        left: -1px;
        
    }
    
}

.choose{
    
    height: 200px;
    width: 100px;
    overflow: auto;
    
    top: -50px;
    
    li{
        
        padding: 7px 10px;
        cursor: pointer;
        
        &:hover{
            
            background: @lightblue;
            
        }
        
    }
    
}

.switch{
    
    span{
        
        background: white;
        line-height: 36px;
        
        padding: 0 15px;
        
        margin: 0 -1px;

        color: @blue;

        display: inline-block;

        border: 1px solid @lightblue; 
        
        cursor: pointer;
        
        &:first-of-type{
            
            .rounded(5px 0px 0px 5px);
            
        }
        
        &:last-of-type{
            
            .rounded(0px 5px 5px 0px);
            
        }
        
    }
    
    .active{

        background: @lightblue;
    }
    
}

.msg{
    
    background: @lightblue; padding: 20px; border-radius: 5px; margin: 10px 0;
    
}

.tabs{
    
    span{
        
        display: inline-block;
        margin: 10px 20px;
        
        color: @blue;
        
        border-bottom: 1px dotted @blue;
        
        cursor: pointer;
        
        
    }
    
    .active{
        
        background: white; 
        padding: 10px 20px; 
        margin: 0; 
        border: 1px solid white; 
        color: black; 
        cursor: default;
        
    }
    
}
    
    
.forma{
    
    margin: 0 0 80px 0;
    
    .button{display: block}
    
    textarea, input:not([type='submit']){
        
        margin: 0 0 30px 0;
        height: 40px;
        
        //border: 1px solid #eee;
    
    }
    
    textarea{
        
        height: 100px;
    
    }
    
    .fa-check{
        
        float: left; 
        font-size: 25px; 
        color: #2dc12d; 
        line-height: 35px; 
        margin: 0 0 0 10px;
    
    }
    
    h2{
        
        margin: 0 0 50px 0; 
        font-size: 23px; 
        border-bottom: 1px solid #eee; 
        padding: 15px 0;
        font-weight: 300;
    
    }
    
    p{height: 40px}
    
    label{
        
        //line-height: 45px;
        font-weight: 400;
    }
    
}

.head{
    
    padding: 30px 0;
    
    h1{
        margin: 0; 
        line-height: 36px;
    }
    
    .button{
        
        margin: 0; 
        display: inline-block; 
        text-align: center;
        
        //.fa{margin: 0 5px 0 0};
    
    }
    
}


.worker{
    
    margin: 0 0 30px 0;
    text-align: center;
    
    .image{
    
        position: relative;
        
        img{width: 100%;}
        
        .uploadImg{
            
            background: url(/img/uploadImg.png);
            
            background-size: 100%;
            
            position: absolute;
            
            width: 32px;
            
            height: 32px;
            
            top: 5px;
            left: 5px;
            
            display: none;
            
            cursor: pointer;
            
        }
        
        &:hover{
            
            .uploadImg{ display: block }
            
        }
    
    }
    
    .info{
        
        padding: 20px 0;
        
        input{
            
            border: 0; 
            border-bottom: 1px solid #fff;
            
            text-align: center;
            
            height: auto; 
            padding: 0;
            
            width: 90%;
            
            &:focus{
                
                border-bottom: 1px dotted @lightblue;
                
            }
        }
    
        .name{
            
            font-weight: 600;
            font-size: 14px;

        }

        .position{

            font-size: 13px;
            margin: 3px 0;

        }
        
    }
    
    .settings{
        
        padding: 5px 0 20px 0; 
        font-size: 12px; 
        color: @lightblue;
        
        a{margin: 0 5px;}
        
    }
    
    
}

.addworker{
    
    width: 400px;
    
    margin: -170px 0 0 -200px;
    
    input:not([type=submit]){
        
        margin: 0 0 20px 0;
        height: 35px;
        padding: 5px 10px;
        
        font-size: 14px;
        
    }
    
    .error{top: -15px}
    
}

.uploadModal{
    
    width: 500px;
    min-height: 110px;
    
    padding: 20px;
    
    h4{
        font-size: 14px; 
        margin: 0; 
        font-weight: 600;
        margin: 0 0 15px 0;
    }
    
    margin: -55px 0 0 -250px;
    
    .upload{
        
        height: 30px; 
        background: @lightblue;
        
        position: relative;
        
    }
    
    .loadbar{
        
        background: @blue;
        height: 30px;
        width: 0%;
        
    }
    
    .percent{
        
        position: absolute;
        width: 100px;
        text-align: center;
        color: white;
        font-weight: 400;
        line-height: 30px;
        top: 0;
        left: 50%;
        margin-left: -50px;
            
    }
    
    .uploadError{
        
        //color: #ea3966;
        
        .button{font-size: 13px}
        
    }
    
    
}

.popup.services{
    
    width: 600px;
    padding: 40px;
    
    margin: -280px 0 0 -300px;
    
    h3{
        
        margin: 0 0 30px 0;
        
        font-size: 18px;
        
    }
    
    .tab{
        padding: 0; 
        height: 384px; 
        overflow: auto;
        border: 1px solid @lightblue;
        
        .one{
            
            padding: 10px 20px;
            cursor: pointer;
            display: block;
            
            border-bottom: 1px dotted @lightblue;
            
            &:hover, &.checked{
                
                background: #edf9ff;
                
            }
            
        }
        
        
    }
    
    
}


.schedule{
    
    padding: 15px;
    
    .day{
        
        width: 14.285%; 
        height: 130px;
        float: left;
        background: white;
        padding: 7px 10px;
        position: relative;
        border: solid @grey;
        border-width: 0 0px 1px 1px;
        font-weight: 300;
        cursor: pointer;
        
        .time{
            
            text-align: center;
            width: 90px;
            background: @blue;
            color: white;
            font-size: 12px;
            padding: 3px;
            margin: 25px auto;
            
            .rounded(5px);
            
        }
    
    }
    
    .remove{
        
        position: absolute;
        top: 34px;
        right: 13px;
        display: none;
        color: tomato;
        font-size: 14px;
        
    }
    
    .day:hover{
        
        .remove{display: block}
        
         
        
    }
    
    .othermonth{
        
        //opacity: 0.5;
        
        color: #ccc;
        
    }
    
    .month{
        
        font-size: 23px; 
        font-weight: 300; 
        position: relative; 
        text-align: center;
        //color: @blue;
        line-height: 36px;
        
        .fa {
            cursor: pointer;
            display: inline-block;
            padding: 0 10px;
        }
    
    }
    
    .days-of-week{
        
        span{
            
            display: block; 
            width: 14.285%; 
            float: left;
            padding: 5px 8px;
            font-weight: 300;
            font-size: 12px;
            border: 1px solid #eee;
            border-width: 1px 0px 1px 1px;
            color: #666;
            
            background: #f6f6f6;
            
            &:last-of-type{
                
                border-width: 1px;
                
            }
        
        }
        
    }
    
    
}


.setTime{
    
    width: 600px;
    
    margin: -94px 0 0 -300px;
    
    .button{
        
        margin: 0;
    }
    
    h4 {
        margin: 0 0 30px 0;
        font-weight: 300;
    }

    
}


.autoSetTime{
    
    
    width: 500px;
    margin: -257px 0 0 -250px;
    
    h4,h5 {margin: 0 15px 20px 15px;}
    
    
    .row{
        
        margin: 0px 0 40px 0;
        
    }
    
    .button{margin: 0px 0 0 15px;}
    
    //.error{background: #efd2db}
    
    
}


.calendar{
    
    position: absolute;
    z-index: 10;
    right: 15px;
    top: 45px;
    
}


.ui-datepicker{
    
    width: 200px; .box-shadow(0 10px 20px 0px rgba(0,0,0, 0.3));
    

    .ui-datepicker-header{background: @blue; color: white; font-weight: 300; padding: 5px; position: relative;

        .ui-datepicker-title{font-size: 13px; text-align: center}

        .ui-datepicker-prev, .ui-datepicker-next{position: absolute; top: 4px; left: 10px; font-family: FontAwesome;
            color: white; cursor: pointer;}
        
        .ui-datepicker-next{right: 10px; left: auto; }
        
        .ui-icon{text-indent: 0}

    }

    .ui-datepicker-calendar{

        width: 100%;

        th, td{background: white; text-align: center; font-size: 11px; padding: 5px 3px;}

        a{color: black;}
        a:hover{color: @blue;}

        .ui-datepicker-current-day{background: @grey; }

    }
    
    .ui-state-disabled{color: #bbb}
    
}

.dates{
    
    background: white;
    border-bottom: 1px solid @lightblue;
    
    padding: 0 0 0 6%;
    overflow: hidden;
    
    .date{
        
        width: 25%;
        height: 40px; 
        text-align: center;
        padding: 10px;
        font-weight: 300;
        color: @blue;
        float: left;
        
    }
    
}

.journal{
    
    margin-bottom: 20px;
    
}

.timetable{
    
    background: white;
    overflow: auto;
    height: 500px;
    clear: both;
    
    .hours{
        
        width: 6%; 
        float: left;
        text-align: center;
        
        
        .hour{
            
            padding: 10px 8px; 
            height: 36px;
            
            color: #999;
            font-size: 12px;
            font-weight: 300;
            
            margin: 12px 0 0 0;
            
        }
        
    }
    
    .days{
        
        width: 94%; 
        float: left;
        
        .notes{ margin: 30px 0 0 0; position: relative;}
        
        
        .day{
            
            width: 25%; float: left;
            
            border-right: 1px solid @lightblue;
            
            &:last-of-type{
                
                border-right: 0px;
            }
            
            .cell{

                height: 48px;
                border-top: 1px solid @grey;
                cursor: pointer;

            }
            
        }

        
        .ui-draggable-dragging, .ui-resizable-resizing{
            
            background: #3192ff;
            color: white;
            z-index: 20;
            
            .border{border: 0}
            
            &.done{
                
                background: #b9b927;
                
            }
            
            &.confirmed{

                background: #31b931;

            }
            
        }
        
    }
    
    
    
}

.note{

    color: @blue;
    background: @lightblue;
    font-size: 12px;
    cursor: pointer;
    position: absolute;
    left: 0;
    width: 100%;
    max-width: 222px;
    z-index: 8;
    overflow: hidden;
    
    .border{border-top: 1px solid white}
        
    .delete{

        float: left;
        color: inherit;
        display: none;
        position: absolute;
        top: 3px;
        right: 5px;

    }

    .edit{
        padding: 3px 5px;
        height: 100%;
        width: 90%;
        position: absolute;
        float: left;
        border-left: 3px solid @blue;
    }
    
    
    &:hover{

        .delete{display: block}

    }
    
    
    &.confirmed{
        
        color: #31b931;
        
        background: #d2f0d2;
        
        .edit{ border-color: #31b931;}
        
    }
    
    &.done{
        
        color: #b9b927;
        
        background: #fffdc7;
        
        .edit{ border-color: #b9b927;}
        
    }

}



.Note{
    
    .forma{ margin: 0;}
    
    width: 600px;
    
    margin: -295px 0 0 -300px;
    
    .button{
        
        margin: 0;
    }
    
    
    h4{margin: 0 0 50px 0; font-weight: 300;}
    
    
    .autocomplete{
        
        width: 100%;
        
        position: absolute;
        z-index: 11;
        top: 50px; left: 0;
        padding: 0 15px;
        
        ul{
            background: white;
            .box-shadow(0 10px 20px 0px rgba(0,0,0, 0.2));

            max-height: 250px;
            overflow: auto;
            padding: 0;
        }
        
        li{
            display: block;
            padding: 10px 15px;
            cursor: pointer;
            
            &:hover{ background: @lightblue }
        }
        
        
    }
    
}


.stats{
    
    .head{ padding: 15px; background: white;}
    
    overflow: hidden;
    
    margin: 30px 0 30px 0;
    
    
    .graphic{
        
        height: 220px;
        
        background: white;
        
        padding: 0 15px;
        
        margin: 0 0 30px 0;
        
        position: relative;
        
    }
    
    .list{
        
        min-height: 200px;
        
        padding: 20px;
        
        background: white;
        
        
        .stat{
            
            border: 1px solid @lightblue;
            padding: 20px;
            
            margin: 15px 0;
            
            font-weight: 500;
            
            font-size: 20px;
            
            color: @blue;
            
            cursor: pointer;
            
            .rounded(10px);
            
            label{
                
                font-weight: 300;
                font-size: 14px;
                display: block;
                cursor: pointer;
                
            }
            
            &:hover, &.active{
                
                border-color: #444;
                color: #444;
            }
            
        }
        
        
        .staff, .services{
            
            padding: 10px 40px;
        
            .frame{
                
                height: 400px;
                overflow: auto;
                
                margin: 0 -15px;
                
            }
                
            .td{
                
                padding: 10px;
                
                border-right: 1px solid @lightblue;
                border-bottom: 1px dotted @lightblue;
                
                &:last-of-type{
                    
                    border-right: 0;
                    
                    font-weight: 500;
                    
                }
                
            }
            
            .th{
                
                font-weight: 500;
                
                color: @blue;
                font-size: 12px;
                
                border-top: 1px solid @lightblue;
                
                .td{ padding: 5px 10px}
                
            }
            
            
        }
        
        
    
    }

    .chart{

        path {
            fill: none;
            stroke: @blue;
            stroke-width: 3;
        }
        
        circle{
            
            fill: @blue;
            
        }

        .axis {
          fill: none;
          stroke: @grey;
        }

        .axis:hover{

            stroke: @lightblue
        }


        .tick, .date{

            fill: grey;
            font-size: 10px;
            font-weight: 300;
        }
        
        .date{ text-anchor: middle; }
            
        
    }
    
    
    
}

.chartTip{

    position: absolute;
    z-index: 10;
    background: #444;

    color: white;

    padding: 10px;

    display: none;

    width: 120px;
    height: 50px;
    font-size: 10px;

    &:after{

        content: '\f0d7';
        font-family: 'FontAwesome';
        position: absolute;

        bottom: -16px;
        text-align: center;
        width: 100%;

        left: 0;

        font-size: 22px;

        color: #444;


    }

    //.box-shadow(0 10px 20px 0px rgba(0,0,0, 0.2));

}

.booking{

    .clt-note{

        
        padding: 20px;

        width: 700px;
        height: 500px;

        background: white;
        position: absolute;
        
        left: 50%;
        top: 50%;
        
        margin: -250px 0 0 -350px;
        
        .box-shadow(0 20px 40px 0px rgba(0,0,0, 0.2));

        .steps{ overflow: hidden; border-radius: 5px; }
        
        .step{
            
            font-size: 14px;
            
            text-align: center; 
            position: relative; 
            
            height: 53px;
            
            padding: 0 0 0 20px;
            
            line-height: 45px;
            
            background: @lightblue;
             
            
            border: solid @lightblue;
            border-width: 3px 0;
            
            color: @blue;
            
            
            &.active{
                
                background: @blue;
                
                border-color: @blue;
                
                color: white;
                
            }
    
            
            i{
                position: absolute; 
                right: -19px; 
                top: 3px; 
                
                //border: inherit;
                
                border: solid white;
                
                background: inherit;
            
                border-width: 0px 5px 5px 0;
                
                display: block;
                
                height: 44px;
                width: 44px;
                
                //border-radius: 0px 0 5px 0;
                
                transform: rotate(-45deg);
                
                z-index: 10;
            
            }
            
        }
        
        .controls{
            
            position: absolute; 
            bottom: 0;
            left: 0;
            padding: 20px;
            width: 100%;
            
            input{
                
                margin: 15px 0 0 0;
                padding-left: 35px;
                height: 36px;
                border-radius: 5px;
                max-width: 100%;
            }
            
            .fa{

                content: "\f002";
                font-family: FontAwesome;
                color: @blue;
                position: absolute;
                top: 25px;
                left: 25px;
                
            }
            
        }
        
        .button{min-width: 150px;}
        
        .prc-lst{
            
            border: 1px solid @grey; overflow: auto;
            
            height: 320px;
            
            margin: 30px 0 10px 0;
            
            border-radius: 5px;
            
            .srv{
                
                padding: 10px 15px;
                
                cursor: pointer;
                
                //border-bottom: 1px dotted @lightblue;
                
                
                &.checked{
                    
                    background: @blue;
                    
                    color: white;
                    
                }
                
            }
            
        }
        
        .msr-lst{
            
            overflow: auto; padding: 20px 0; height: 340px;
            
        }
        
        
        .msr{
            
            text-align: center;
            cursor: pointer;
            
            border: 1px solid white;
            
            border-radius: 5px;
            
            
            .img-wrap{
                
                overflow: hidden; 
                height: 188px; 
                border-radius: 50%; 
                margin: 20px 0;
                
            }
            
            .pstn{
                
                color: #aaa; margin: 5px 0 20px 0;
                
            }
            
            .name{
                
                font-size: 16px; font-weight: 500;
                
            }
            
            
            &.active{

                border-color: @blue;

            }
            
        }
        
        .cnts{

            label{ font-size: 13px}
            
            padding: 40px 15px;
            
            input{ margin-bottom: 25px}
            
            
        }
        
            
        #calendar{
            
            padding:  30px 15px;
            overflow: hidden;
            
            .days{ overflow: hidden; width: 90%; float: left;}
            
            .back, .forth {width: 5%; float: left; font-size: 30px; text-align: center; line-height: 72px; cursor: pointer;}
            
            [disabled]{cursor: default; color: #ccc}
            
            .day{
                
                text-align: center;
                
                cursor: pointer;
                
                width: 10%;
                
                float: left;
                
                .weekday{ padding: 0 3px; font-size: 12px; color: #999 }
                
                
                .num {font-size: 25px;}
                
            }
            
            .active{ 
                
                color: @blue;
            
                .weekday{
                    
                    color: @blue;
                    
                }
            
            }
            
        }
        
        .msg{margin: 15px;}
        
        .hours{
            
            overflow: auto;
            
            height: 200px;
            
            .hour{
                
                padding: 7px; 
                
                margin: 8px 0;
                
                border: 1px solid @lightblue; 
                border-radius: 5px;
                
                color: @lightblue;
                
                text-align: center;
                
                &.vacant{
                    
                    color: @blue;
                    cursor: pointer;
                    
                }
                
                &.active{
                    
                    cursor: pointer;
                    border-color: @blue;
                    
                }
                
            }
            
            
        }
        
        
        .success{
            
            
            .text{
                
                padding: 0 30px 30px 30px;
                
            }
            
            text-align: center;
            
            padding: 70px 0 0 0;
            
            font-size: 16px;
            
        }


    }
    
}



.banner{
    
    background: url('/img/main.jpg') center center no-repeat;
    
    background-size: 100%;
    
    width: 100%;
    height: 580px;
    
    text-align: center;
    
    .text{
        
        font-size: 47px; 
        color: white;
        margin: 170px 0 30px 0;
        
        line-height: 1.2;
    
    }
    
    .button{
        
        font-size: 18px;
        
    }
    
    .reg{ background: #03bf4c}
    
}


.features{
    
    margin: 70px 0;
    
    
    img{
        
        width: 70%; 
        margin: 25px 0 50px 30px;
    
    }
    
    
}


footer{
    
    background: @darkblue;
    
    height: 100px;
    
    color: white;
    
    
    .phone{
        
        padding: 38px 0;
        
    }
    
    .info{
        
        padding: 38px 0;
        
        text-align: right;
        
    }
    
}









